.pro img{
    width:500px;
    height:279px;

}

.pro{
    width:500px;
    height:279px;
    margin:15px;
    transition:transform (100ms) ease-in;

}

.pro:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.05);
    color: white;
    background-color: brown;
    cursor: pointer;
}

.pro__content{
    padding: 10px;
}
.pro__content h2{
    padding-bottom: 15px;
}

.pro__content p{
    font-size: 15px;
}